// Buttons
.btn-storent {
  &-main,
  &-second {
    color: white !important;
    width: 300px;
    font-family: "Darker Grotesque Bold", sans-serif;
    font-size: 12px;
    border-radius: 10px;
    text-transform: initial !important;

  }

  &-main {
    background-color: $main-color;
  }
  &-second {
    background-color: $second-color;
  }
  &-navbar {
    background-color: $main-color;
    width: 200px;
  }
}

// A href
.link-storent {
  color: $main-color;
  text-decoration: none;
}
