// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Colors Main
$main-color: #ff0062 !important;
$second-color: #30242d !important;

@font-face {
  font-family: "Darker Grotesque";
  font-style: normal;
  font-display: swap;
  src: url(http://devapi.storent.co/fonst/DarkerGrotesque-Light.ttf)
    format("ttf");
}

@font-face {
  font-family: "Darker Grotesque Bold";
  font-style: normal;
  font-weight: bolder;
  font-display: swap;
  src: url(http://devapi.storent.co/fonst/DarkerGrotesque-Bold.ttf)
    format("ttf");
}

// Buttons
.btn-storent {
  &-main {
    color: white !important;
    background-color: $main-color;
  }
  &-second {
    color: white !important;
    background-color: $second-color;
    background-size: cover;
  }
}

// A href
.link-storent {
  color: $main-color;
  text-decoration: none;
}

/// Circle Template
.circle {
  width: 1577px;
  color: #fff;
  height: 1577px;
  border-radius: 100%;
  position: absolute;
  background: white;
  z-index: 1;
  left: 41%;
  top: -35%;
  &-second {
    width: 1577px;
    color: #fff;
    height: 1577px;
    border-radius: 100%;
    position: absolute;
    background: white;
    left: 41%;
    top: -35%;
    z-index: 0;
  }
}

.main-box {
  // max-width: 375px;
  // overflow: hidden;
}

.boxs {
  position: relative;
  z-index: 2;
  left: 15px;
  &-second {
    position: relative;
    z-index: 2;
    left: -10px;
  }
}

// Background
.fill-height {
  overflow-y: hidden;
}

.storent-background {
  background: white;

  &-main {
    background-image: url("../assets/images/background.png");
  }
  &-second {
    background-image: url("../assets/images/background-second.png");
  }
}

.title-storent {
  font-size: 4rem;
  font-family: "Darker Grotesque", sans-serif;
  color: white;
  line-height: 0.9;
}

// Text
.text-error {
  color: red !important;
  .v-icon {
    color: red !important;
  }
}

.theme--light.v-icon {
  color: red !important;
}

#content {
  height: 70%;
}
