// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Colors Main
$main-color: #ff0062 !important;
$main-color-dispose: #ff00624f !important;
$second-color: #30242d !important;

/// Circle Template
.circle {
  width: 1577px;
  color: #fff;
  height: 1577px;
  border-radius: 100%;
  position: absolute;
  background: white;
  z-index: 1;
  left: 41%;
  top: -35%;
  &-second {
    width: 1577px;
    color: #fff;
    height: 1577px;
    border-radius: 100%;
    position: absolute;
    background: white;
    left: 41%;
    top: -35%;
    z-index: 0;
  }
}

.boxs {
  position: relative;
  z-index: 2;
  left: 15px;
  &-second {
    position: relative;
    z-index: 2;
    left: -10px;
  }
}

// Background
.fill-height {
  overflow-y: hidden;
}

.storent-background {
  background: white;

  &-main {
    background-image: url("/images/background.png");
  }
  &-second {
    background-image: url("/images/background-second.png");
  }
  &-info {
    background-image: url("/images/background-info.png");
  }
}

.theme--light.v-icon {
  color: red !important;
}

.v-application .white--text {
  color: gray !important;
  caret-color: gray !important;
}
